* {
    padding: 0px;
    margin: 0px;
    transition: 0.8ms;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.hero-section {
    height: 669px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.11), #121212), url(images/hero-banner-donation.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    width: 826px;
    margin: 0;
    align-items: center;
}

.hero-tex-header {
    color: white;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}

.hero-para {
    color: white;
    text-align: center;
}

.link-btn {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    background-color: #FF5959;
    padding: 16px 12px;
    border-radius: 5px;
    margin-top: 30px;
    position: relative;
    top: 40px;
    left: 40%;

}

* .input-link-btn {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    background-color: #FF5959;
    padding: 16px 12px;
    border-radius: 5px;
    margin-top: 30px;
    position: relative;
    top: 40px;

}

.body-h1 {
    text-align: center;
    padding-top: 130px;
    padding-bottom: 70px;
}

.body-h1 p {
    color: #707070;
}

.amount-box {
    background-color: #FAFAFA;
    padding: 60px;
    border-radius: 5px;
}

.other-amount[type=text],
select {
    width: 950px;
    padding: 12px 16px;
    margin: 8px 0;
    display: inline-block;
    border-bottom: 1px solid #DADADA;
    color: #B3B3B3;
    text-align: center;
    margin-top: 60px;
    box-sizing: border-box;
}

.other-amount {
    border: none;
}

.amount {
    margin: 11px;
}

.amount-box-highlight {
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    padding: 60px;
    border-radius: 5px;
}

.all-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}



.amount-input p {
    color: #B3B3B3;
    border-bottom: 1px solid #b3b3b3;
    padding: 0px 0px 9px 0px;
    text-align: center;
    margin-top: 30px;
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
}

.plan-head {
    color: #121212;
    font-size: 24px;
    font-weight: 500px;
}

.food {
    color: #707070;
    background-color: rgba(78, 159, 166, 0.10);
    text-align: left;
    padding: 60px 30px;
    max-width: 360px;
    margin: 12px;
    border-radius: 5px;
}

.shelter {
    color: #707070;
    background-color: rgba(255, 89, 89, 0.1);
    text-align: left;
    padding: 60px 30px;
    max-width: 360px;
    margin: 12px;
    border-radius: 5px;
}

.education {
    color: #707070;
    background-color: #FFF4D6;
    text-align: left;
    padding: 60px 30px;
    max-width: 360px;
    margin: 12px;
    border-radius: 5px;
}

/* Recent Causes */
.causes-box {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.causes-para {
    color: #707070;
    text-align: center;
}

.causes-section {
    max-width: 350px;
    box-shadow: 0px 12px 10px #b6b6b6;
    margin: 20px;
    border-radius: 5px;
}

.causes-content {
    padding: 30px;
}

.causes-content h3 {
    padding-bottom: 10px;
    border-bottom: 1px dotted #707070;
}

.causes-content p {
    color: #707070;
    padding: 10px 0px 10px;
}

.readmore-btn {
    color: white;
    border: none;
    background-color: #FF5959;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.more-btn a {
    color: white;

    text-decoration: none;

}

/* Subscription Style */
.subscription-section {
    padding: 60px 100px;
}

h1 {
    color: #121212;
    text-align: center;
}

.subs-para {
    text-align: center;
    color: #707070;
}

.box {
    background-color: antiquewhite;
    padding: 50px 188px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;

}

.send {
    color: white;
    border: none;
    background-color: #FF5959;
    padding: 20px 30px;
    border-radius: 0px 5px 5px 0px;
}

.mail-address {
    color: #AA9F9F;
    background-color: #D9D9D9;
    border: none;
    padding: 20px 30px;
    border-radius: 5px 0px 0px 5px;
}

/* Footer Design */
.custom-footer {
    background-color: #0B0D17;
    padding: 43px 0px 42px 0px;
}

.site-name {
    color: #FF5959;
    font-size: 36px;
    text-align: center;
}

.custom-footer p {
    color: white;
    font-size: 14px;
    text-align: center;

}